<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opermath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconeopermath"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
            android:screenOrientation="locked">
        </activity>
        <activity android:name=".GameOverActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".Second2Activity"
            android:screenOrientation="locked"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".Praticar2Activity" />
        <activity android:name=".VencedorActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".DueloActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".RadiActivity" />
        <activity android:name=".PoteActivity" />
        <activity android:name=".DiviActivity" />
        <activity android:name=".MultActivity" />
        <activity android:name=".SubtActivity" />
        <activity android:name=".AdicActivity" />
        <activity android:name=".AprenderActivity"
            android:screenOrientation="locked"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".PraticarActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".SecondActivity"
            android:screenOrientation="locked"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>